build/*
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/c_cpp_properties.json
emsdk/*
HeartEditor/assets/*
docs/html/*
*.vs
*.user
HeartScripting/bin/*
HeartScripting/obj/*